* {
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}

.orange-color {
    color: orange
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.w-half {
    width: 50%;
    padding-left: 5%;
}

.w-half img {
    width: 80%;
}

.hire-btn {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.two-section {
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

h1 {
    margin-top: 10px
}

.experiance-item {
    width: 40%;
    box-shadow: 10px 10px 40px rgb(109, 109, 109);
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 10px;

}

.experiance-aria {
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
}

#ex-1 {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(255, 136, 0), rgb(255, 0, 0));
    border-image-slice: 1;
}

#ex-2 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, rgb(0, 247, 255));
    border-image-slice: 1;
}

footer {
    text-align: center;
}